.container {
    margin-top: 20px;
    h3 {
        margin-bottom: 20px;
    }
    button {
        color: #fff;
        width: 45%;
        margin-bottom: 10px;

        &.btn-primary {
            margin-right: 40px;
        }
    }
}