<div class="container">
    <button class="btn btn-warning" (click)="logout()">Logout</button>
    <button class="btn btn-primary" (click)="add()">Add Item</button>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<router-outlet></router-outlet>